<p>get "homepage", to: "homepage#homepage"</p>

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete} %>
  <%= link_to "Account settings", edit_user_registration_path %>
<% else %>
  <%#= link_to "Sign up", new_user_registration_path %>
  <%#= link_to "Sign in", new_user_session_path %>
<% end %>